<md-content>
  <div layout="column" flex>
    <gym-status gym="$ctrl.gym"></gym-status>
    <span class="md-headline" layout="row" layout-align="center center">Trainers</span>
    <md-card>
      <deployed-pokemon ng-repeat="pokemon in $ctrl.gym.pokemon | orderBy:'':true" pokemon="pokemon"></deployed-pokemon>
    </md-card>
    <span class="md-headline" layout="row" layout-align="center center">History</span>
    <md-card>
      <gym-snapshot ng-repeat="snapshot in $ctrl.gymHistory" gym-snapshot="snapshot"></gym-history>
    </md-card>
  </div>
</md-content>