<md-card layout="row" class="md-padding" ng-click="$ctrl.onClick()">
  <div layout="column" layout-align="center center">
    <md-icon md-svg-src="{{$ctrl.gymIcon[$ctrl.gym.teamId]}}" style="width: 64px; height: 64px"></md-icon>
    <span class="">{{$ctrl.gym.points}}</span>
  </div>

  <div layout="column" class="md-padding" flex>
    <span class="md-body-2">{{$ctrl.gym.name || 'Data not available'}}</span>
    <div class="md-body-1">
      <span>Level</span>
      <span>{{$ctrl.gym.level}}</span>
      <span>({{$ctrl.gym.pokemon.length || '-'}}/{{$ctrl.gym.level || '-'}})</span>
    </div>

    <div layout="row" layout-align="end start">
      <md-button>Directions</md-button>
    </div>
  </div>
</md-card>